// no funciona con parametros
// se utiliza para extender código

%img-propiedades {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


%keyframes {    
    animation: animacion 70s linear infinite;
    @keyframes animacion {
        0% {
            transform: rotate(32deg);
        }   
        10% {
            transform: rotate(64deg);
        }        
        20% {
            transform: rotate(96deg);
        }
        30% {
            transform: rotate(128deg);
        }
        40% {
            transform: rotate(160deg);
        }
        50% {
            transform: rotate(192deg);
        }
        60% {
            transform: rotate(224deg);
        }   
        70% {
            transform: rotate(256deg);
        }        
        80% {
            transform: rotate(288deg);
        }
        90% {
            transform: rotate(320deg);
        }
        100% {
            transform: rotate(360deg);
        }        
    }
}

%png-mobile {
    @media screen and (min-width:320px) {
    .contenedor-png {
        .png {
            width: 30%;
        }
        .png-uno {
            width: 33%;
            right: -0.2rem;
            top: 13rem;
        }
        .png-dos {
            top: 5rem;
            left: 0;
        } 
        .png-cuatro {
            right: 3rem;
            bottom: 6rem;
        }      
        .png-cinco {
            right: 35%;
            top: 41%;
        }
        .png-seis {
            right: 10rem;
            bottom: -2rem;
            position: relative;
        } 
        .png-ocho {
            width: 24%;
            right: 0rem;
            top: 7rem;
        }
        .png-diez {
            left: 1rem;
            top: 15rem;
        }
        .png-doce {
            right: 8rem;
            top: 30rem;
        }
        .png-trece {
            width: 2%;
            left: 20rem;
            bottom: 10rem;
        }
        .png-cont {
            width: 27%;
            position: fixed;
            z-index: 0;
        }
        .png-siete, .png-nueve, .png-once {
            display: none;
            }
        }
    }
}

%png-tablet {
    @media screen and (min-width:600px) {
        .contenedor-png {
            .png {
                width: 22%;
            }    
            .png-seis {
                right: 10rem;
                bottom: -2rem;
                position: relative;
            }
            .png-cont {
                width: 15%;
            }
            .png-diez {
                left: 10rem;
                top: 10rem;
            }
            .png-doce {
                right: 10rem;
                top: 40rem;
            }
        }
    }
}

%png-desktop {
    @media screen and (min-width:1024px) {
        .contenedor-png {
            .png {
                width: 12%;
            }
            .png-uno {
                right: 15rem;
                top: 15rem;
            }
            .png-dos {
                top: 9rem;
                left: 20rem;
            } 
            .png-cuatro {
                width: 10%;
            }      
            .png-cinco {
                width: 10%;
                left: 90rem;
            }
            .png-seis {
                left: 10rem;
                bottom: -2rem;
            }
            .png-cont {
                width: 8%;
            }
            .png-siete, .png-nueve, .png-once {
                display: block;
            }
            .png-siete {
                left: 10rem;
                top: 12rem;
            }
            .png-ocho {
                right: 7rem;
                top: 15rem;
                width: 8%;
            }
            .png-nueve {
                right: 30rem;
                top: 50rem;
            }
            .png-diez {
                left: 63rem;
                top: 23rem;
                width: 7.3%;
            }
            .png-once {
                left: 30rem;
                bottom: 3rem;
            }
            .png-doce {
                right: 60rem;
                top: 50rem;
            }
            .png-trece {
                width: 2%;
                left: 30rem;
                bottom: 3rem;
            }
        }
    }
}