
//INDEX
.imagen-body {
    background-image: url(../media/images/9.webp);
    @extend %img-propiedades;
    background-attachment: fixed;
}

header {
    .index-nombre {
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
    }
    .text-shadow {
        ul {
            li {
                a {
                    text-shadow: 1px 1px 0px #252424;
                }
            }
        }
    }
    div {
        a {
            color: $blanco;
            text-decoration: none;
            font-weight: bold;   
            &:hover {
                color: $hover;
            }
        }
    }
}

    .play, .play-music { 
        .play-img {
            position: relative;
            animation: animacion-play 4s infinite 1s;
        }
        @keyframes animacion-play {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }
    }


@media screen and (min-width:320px) {
    header, .contenedor {
        @include flex-container (column, center, center);
        padding: 2rem 1rem;
        .index-nombre {
            font-size: 2rem;
            align-items: center;
            padding-bottom: 0.8rem;
            margin: 0 0.7rem;
            border-bottom: $gris-claro solid 2px;      
        }
        .navegacion {
            padding-top: 1rem;
        }

        nav {
            ul {
                font-size: 7rem;
                @include flex;
                .nav-uno {
                    @include flex-row;
                    gap: 2rem;
                    justify-content: center;
                    padding-bottom: 1rem;
                    border-bottom: $gris-claro solid 2px;
                } 
                .nav-dos {
                    @include flex-row;
                    gap: 2rem;
                    padding-top: 1rem;
                }
            }
        }

        div {
            .araceli {
                font-size: 2.3rem;
            }
            a {
                font-size: 1.5rem;
            }
        }
        
    }

    .play {
        position: absolute;
        left: 10%;
        top: 20rem;
            .play-img {
                width: 15%;
            }
    }
}

/* mq tablet */
@media screen and (min-width:600px) {
    .imagen-body {
        background-image: url(../media/images/8.webp);
    }
    header, .contenedor-index {
        .index-nombre {
            font-size: 5rem;
        }
        div {
            .araceli {
                font-size: 3rem;
            }
            a {
                font-size: 1.7rem;
            }
        }
    }

    .play {
        left: 8%;
        top: 20rem;
            .play-img {
                width: 22%;
        }
    }
} 

@media screen and (min-width:1024px) {
    .contenedor {
        @include flex-container (row, space-between, baseline);
        border-bottom: $gris-claro solid 1.5px;
        padding: 0.5rem 4rem;
        .index-nombre {
            border-bottom: none;
            letter-spacing: 7px;
        }
    }
    .contenedor-index {
        padding: 2rem 4rem;
    }

    header, .contenedor {
        padding: 1.5rem 3rem;
        nav {
            ul {
                @include flex-row;
                .nav-uno {
                    border-bottom: none;
                    padding: 0rem 2rem;
                }
                .nav-uno, .nav-dos {
                    @include flex-container(row, end, flex-end);
                    border-bottom: none;
                }
            }
        }
    }

    .play {
        left: 13%;
        top: 18rem;
            .play-img {
                width: 25%;
        }
    }
}

@media screen and (min-width:1600px) {
    .imagen-body {
        background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), url(../media/images/12.webp);
    }
}



