// LIBROS
main {

    div,
    .contenedor-libros {
        .img-libros {
            position: relative;

            .libro-portada {
                position: absolute;
                transition: opacity 1.8s;
                left: 0;

                &:hover {
                    opacity: 0;
                }
            }
        }

        .lista-libros {
            font-weight: bold;
            margin-top: 4rem;
        }

        .fecha {
            color: $azul-claro;
            font-weight: bold;
            font-size: 2rem;
            margin: 0;
        }

        .fecha-dos {
            color: $violeta-claro;
        }
    }

    .boton-libro-uno,
    .boton-libro-dos {
        .boton-libro {
            font-size: 1.5rem;
            letter-spacing: 2px;
            font-weight: 500;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            @include width-height(95%, 4rem);
            color: $gris-oscuro;
            background-color: #cfcfcf;
            border: 1px solid $gris-oscuro;
            border-radius: 5px;
            text-decoration: none;
            display: block;
            padding-top: 0.5rem;

            &:hover {
                background-color: #b7bac4;
            }
        }
    }
}


@media screen and (min-width:320px) {
    main {
        .contenedor-libros {
            @include flex;
            @include margin-mobile;

            .h2-libro-uno {
                color: $azul-oscuro;
            }

            .h2-libro-dos {
                color: $violeta-oscuro;
            }

            .h2-libro-uno,
            .h2-libro-dos {
                padding: 1.5rem 0rem;
                margin: 0;
                letter-spacing: 2px;
            }

            .img-libros {
                width: 100%;
                background-repeat: no-repeat;
                background-position: center;
                object-fit: cover;
            }

            .lista-libros {
                padding-bottom: 1rem;
            }

            .boton-libro-uno,
            .boton-libro-dos {
                padding: 0 5rem 13rem;
                width: 21rem;
                text-align: center;
                margin-left: 0;

                .img-nube {
                    padding: 0;
                    width: 50%;
                }

                .boton-libro {
                    font-size: 1.3rem;
                    height: 3rem;
                }
            }
        }
    }
}

@media screen and (min-width:600px) {
    main {
        .contenedor-libros {
            @include margin-tablet;

            .img-libros {
                width: 70%;
            }

            .boton-libro-uno,
            .boton-libro-dos {
                justify-content: center;
            }
        }
    }
}


@media screen and (min-width:1024px) {
    main {


        .contenedor-libros {
            height: 180rem;
            @include margin-desktop;
            @include grid(40% 30% 30%, 4% 12% 30% 4% 18% 20%);
            row-gap: 2rem;


            .boton-libro-uno,
            .boton-libro-dos {
                right: 20%;
                width: 23rem;
                margin: 2rem 0;
                justify-self: center;

                .img-nube {
                    padding: 0;
                    width: 60%;
                }
            }

            .h2-libro-uno,
            .h2-libro-dos {
                font-size: 2.5rem;
                letter-spacing: 3px;
            }

            .h2-libro-uno {
                grid-column: 2 / 4;
                grid-row-start: 1;

            }

            .h2-libro-dos {
                grid-column: 2/4;
                grid-row-start: 4;
                padding-top: 4rem;
            }

            .img-libros {
                width: 93%;
                background-size: cover;
                background-position: center;
                padding-bottom: 2rem;
            }

            .img-libro-uno {
                grid-column-start: 1;
                grid-row: 1 / 3;
            }

            .img-libro-dos {
                grid-row-start: 4;
            }

            .descripcion-libro-uno {
                grid-column: 2/4;
                grid-row-start: 2;
                overflow: auto;

            }

            .descripcion-libro-dos {
                grid-column: 2/4;
                grid-row-start: 5;
                overflow: auto;
            }

            .boton-libro-uno {
                grid-column: 3 / 4;
                grid-row: 3;
            }

            .boton-libro-dos {
                grid-column: 3;
                grid-row: 6;
            }

            .lista-libros {
                margin-top: 2rem;
                grid-column: 2;
                grid-row: 3;
            }

            .lista-libro-dos {
                grid-column: 2;
                grid-row: 6;
            }
        }
    }
}