

.body{


    .music-player-container{
        background: linear-gradient(30deg, rgba(0,0,0,0.65), rgba(0,0,0,0.85));
        backdrop-filter: blur(10px);
        height: fit-content;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 2px 8px rgba(0,0,0,0.35);


        .title-music-container{
            width: 80%;
            height: 80%;
            width: fit-content;
            color: white;
            margin-right: auto;
            margin-left: 10%;
            .song-title{
                font-weight: 600;
                font-size: 17px;
                letter-spacing: 0.5px;
            }
            
            .song-author{
                margin-top: 0.1rem;
                font-size: 12px;
                color: rgb(167, 167, 167);
                letter-spacing: 0.1px;
            }
        }

        .controls-music-container{
            width: 80%;
            height: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .progress-song-container{
                margin-top: 0.6rem;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .progress-bar{
                    height: 3px;
                    border-radius: 3px;
                    width: 100%;
                    background-color: rgb(102, 102, 102);
                    position: relative;
                    .progress{
                        position: absolute;
                        height: 100%;
                        width: 0%;
                        border-radius: 3px;
                        background-color: white;
                    }
                }
            }

            .time-container{
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: rgb(167, 167, 167);
                font-size: 12px;
                .time-left{
                    margin-top: 0.3rem;
                }
            }
            
        }

        .main-song-controls{

            width: 100%;

            display: flex;
            justify-content: space-around;
            align-items: center;
            .icon{
                height: 100%;
                width: auto;
                opacity: 0.6;
                cursor: pointer;
            }
            
            .icon:hover{
                opacity: 1;
            }
        }

        audio{
            display: none;
        }
    }
}

@media screen and (min-width:320px) {

    .body{
        width: 100%;
        display: flex;
        justify-content:center;
        align-items:end;
        position:fixed;
        bottom: 0%;
        z-index: 1;


        .music-player-container{
            width: 100%;
            margin: 0;
            padding: 1rem 0;
            border-radius: 0px;

            .main-song-controls{
                height: 20px;
                margin-top: 0.2rem;
            }
            .title-music-container {
                .song-title {
                    font-size: 13px;
                    margin-bottom: 3px;
                }
                .song-author {
                    display: none;
            }
        }

        .controls-music-container {
            .time-container {
                .time-left{
                font-size: 1rem;
                }
            }
        }
    }
}
}

@media screen and (min-width:1024px) {

    .body{
        height: 22vh;
        display: flex;
        justify-content:left;
        align-items: center;
        position:fixed;
        bottom:auto;
        margin: 1rem;
        .music-player-container{
            width: 31vw;
            border-radius: 10px;
            padding: 2rem 0;
            border-radius: 10px;
            .main-song-controls{
                height: 30px;
            }
            .title-music-container {
                .song-title {
                    font-size: 15px;
                    margin-bottom: p5x;
                }
                .song-author {
                    display: flex;
                    font-size: 13px;
            }
        }

        .controls-music-container {
            .time-container {
                .time-left{
                font-size: 1.5rem;
                }
            }
        }
    }
}
}