
//VIDEOS
main {
    div, #contenedor-videos {
        .info-vid {
            box-shadow: 0px 0px 6px 0px $gris-claro;
            padding: 1.5rem;
            margin-top: 8.4rem;
            font-size: 0.7rem;
            overflow: auto;
            .lista-videos {
                font-size: 18px; 
                padding: 0;
                text-shadow: 0 0 0 $gris-oscuro;
                letter-spacing: 0.3px;    
            }
            .degrade {
                font-family: Arial, Helvetica, sans-serif;
            }
            .info-video-uno {
                padding-top: 1.5rem;
                margin-bottom: 0;
            }
            .info-video {
                padding-bottom: 2rem;
                margin: 0;
            }
        }
        .h2-videos {  
            text-align: center;
            margin-bottom: 0.7rem;
            margin-top: 2rem;
            color: $gris-oscuro;         
        }
        .h3-videos {
            text-align: center;
            margin-bottom: 1rem;
        }
        .enlaces {
            padding-bottom: 10rem;
        }
        ul {
            li {
                .span-vid {
                    color: $azul-claro;
                    font-weight: 500;
                }
            }
        }
    }
}

@media screen and (min-width:320px) {
    main {
        #contenedor-videos {
            @include flex;
            @include margin-mobile;
        }
        div {
            .info-vid {
                display: none;
            }
            .h2-videos {
                margin-top: 0;
            }
            iframe {
                @include width-height (100%, 50vw);
                position: relative;
                box-shadow: 0px 0px 6px 0px $gris-claro;
            }
        }     
    }
}

@media screen and (min-width:600px) {
    main {
        #contenedor-videos {
            @include margin-tablet;
        }
    }
}

@media screen and (min-width:1024px) {
    main {
        #contenedor-videos {
            @include margin-desktop;
            @include grid(52% 40%, repeat(5, 1fr));
            column-gap: 8%;
            row-gap: 3%;
            max-height: 100%;
            margin-bottom: 70rem;
        }

        div {
            .h2-videos {
                margin-top: 4rem;
            }
            .info-uno {
                grid-row: 1;
                grid-column: 2;
            }
            .video-uno {
                grid-row: 1;
                grid-column: 1;
            }
            .info-dos {
                grid-row: 2;
                grid-column: 2;
            }
            .video-dos {
                grid-row: 2;
                grid-column: 1;
            }
            .info-tres {
                grid-row: 3;
                grid-column: 2;
            }
            .video-tres {
                grid-row: 3;
                grid-column: 1;
            }
            .video-seis {
                margin-bottom: 70rem;
            }

            .info-vid {
                display: block;
                @include width-height (100%, 74%);
                .lista-videos {
                    font-size: 2.6rem;
                }
            }

            iframe {
                @include width-height(100%, 32vw);
                position: relative;
                left: 0;
            }
        }        
    }
}


