$gris-oscuro: #474544;
$gris-claro: #797979;
$azul-oscuro: #2b4d7a; 
$azul-claro: #46669c ;
$violeta-oscuro: #643e8c;
$violeta-claro: #6f5a96;
$blanco: #FFFFFF;

$bg-header: #FCDFC4;
$bg-footer: #D7D9FA;
$lista-hover: #afafaf;
$border-bottom: #929292;
$hover: #ff9f4c;



